html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #00468b;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header img{
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    width: 100%;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    color: #003366;
}
.content mark {
    background-color: aquamarine;
    color: black;
}

.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: #ccc;
}

.footer footer {
    width: 100%;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.escrita {
    font-size: 18px;
}

.imgs {
    display: flex;
    align-items: center;
    gap: 10px;

}

 /*///////////////////////////////////////////////////////////////CODIGO DO hora_atendimento////////////////////////////////////*/

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #003366;
  }
  th {
    background-color: #f2f2f2;
  }
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////CODIGO DO  contato///////////////////////////////////*/


.body contato{
    font-family: Arial, sans-serif;
    background-color: #f0f7fc;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cab_contato {
    color: #00468b;
    text-align: center;
}

.ficha_dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grupo_dados {
    flex-basis: calc(25% - 10px);
    margin-right: 10px;
}

.grupo_dados:nth-child(4n) {
    margin-right: 0;
}

label {
    color: #00468b;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #00468b;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #003366;
}

.ficha_observacoes {
    margin-top: 10px;
}

.grupo_observacoes {
    width: 100%;
}

input[type="time"] {
    padding: 8px;
}
input[type="date"] {
    padding: 10px;
}

/*////////////////////////////////////////////////////////CODIGO DO MENU////////////////////////////////////////////////////////////*/

.menu {
    width: 15%;
    background-color: #00468b;
    padding: 10px 20px 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
    
}

.menu ul li {
    margin-bottom: 150px;
}

.menu ul li a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.menu ul li a:hover {
    background-color: #7fffd4;
    color: #fff;
}